/.idea/
/target/

/batch-jobs/.idea/
/batch-jobs/entry-job-api/target
/batch-jobs/entry-job-file/target
/batch-jobs/entry-job-s3/target
/batch-jobs/execute-block-job-api/target
/batch-jobs/execute-block-job-file/target
/batch-jobs/execute-block-job-s3/target
/batch-jobs/query_alfresco-job/target
/batch-jobs/report-job/target

/batch-projects/.idea/
/batch-projects/file-ingestion/target
/batch-projects/s3-ingestion/target

/batch-utils/target
/batch-full/target
/connectors/target
/databases/target
/rest-api/alfresco-api/target